{% load static %}

 <!-- ====== About Start ====== -->
    <section id="about" class="ud-about">
      <div class="container">
        <div class="ud-about-wrapper wow fadeInUp" data-wow-delay=".2s">
          <div class="ud-about-content-wrapper">
            <div class="ud-about-content">
              <span class="tag">Sobre nós</span>
              <h2>As lojas Alfaiate</h2>
              <p>
                O site funciona assim: Existe essa página principal, você pode clicar em "Learn More" nos nossos produtos
                para ver os produtos detalhados, e em Log in e Sign in para fazer login ou se registrar.
              </p>

              <p>
                Para acessar o admin do site, use os acessos: Usuário: admin ; Senha: admin
              </p>

              <p>
                Você pode gerar PDF na página de detalhe dos produtos, mas apenas se estiver logado
                (Não tive tempo de implementar o AJAX)
              </p>
            </div>
          </div>
          <div class="ud-about-image">
            <img src="{% static '/images/about/alfaiate3.png' %}" alt="about-image" />
          </div>
        </div>
      </div>
    </section>
    <!-- ====== About End ====== -->